body{
    background-color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid rgb(85, 14, 0);
    background-color: rgb(192, 195, 182);
}

.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}

.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 10px;
    color: #fdfbfb;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    background-color:  rgb(192, 195, 182);
}